# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.o
*.a
*.so
*.dll
*.apk
*.aab
*.ipa
*.tmp
*.bak

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.dart_tool/build/
.dart_tool/package_config.json
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/.cmake/
android/build/
android/app/.cxx/

# iOS build outputs
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace/
ios/Runner.xcworkspace/
ios/build/

# macOS build outputs
macos/build/
macos/Pods/
macos/*.xcworkspace/
macos/Runner.xcworkspace/

# Linux build outputs
linux/build/

# Windows build outputs
windows/build/

# CMake-related
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile